---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2016&card[cvc]=666
    headers:
      Authorization:
      - Bearer sk_test_yeB2iv7u3JIgUtNZPSxb0R7Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1043AU4Lt6GZHN3UnD1TwJqi",
          "livemode": false,
          "created": 1400319056,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_1043AU4Lt6GZHN3UsTvGyh0N",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "XAf6tnqVRqNXRAzw",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Sat, 17 May 2014 09:33:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=400&card=tok_1043AU4Lt6GZHN3UnD1TwJqi&currency=usd&description=Some%20description
    headers:
      Authorization:
      - Bearer sk_test_yeB2iv7u3JIgUtNZPSxb0R7Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1043AU4Lt6GZHN3UkSAB1vqm",
          "object": "charge",
          "created": 1400319057,
          "livemode": false,
          "paid": true,
          "amount": 400,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_1043AU4Lt6GZHN3UsTvGyh0N",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "XAf6tnqVRqNXRAzw",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_1043AU4Lt6GZHN3U8Vzg2iJI",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Some description",
          "dispute": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Sat, 17 May 2014 09:33:16 GMT
recorded_with: VCR 2.9.0
