---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2016&card[cvc]=666
    headers:
      Authorization:
      - Bearer sk_test_yeB2iv7u3JIgUtNZPSxb0R7Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1043jY4Lt6GZHN3Ukz5J4cvp",
          "livemode": false,
          "created": 1400449466,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_1043jY4Lt6GZHN3UcWzl2Fr2",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "FmaALamhZpN3caic",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Sun, 18 May 2014 21:46:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=400&card=tok_1043jY4Lt6GZHN3Ukz5J4cvp&currency=usd&description=An%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_yeB2iv7u3JIgUtNZPSxb0R7Z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_1043jY4Lt6GZHN3U5EGna1D1"
          }
        }
  recorded_at: Sun, 18 May 2014 21:46:50 GMT
recorded_with: VCR 2.9.0
