- @categories.each do |cat|
  %article.video_category
    %header
      %h3= link_to cat.name, category_path(cat) unless cat.videos.empty?
    .videos.row
      - cat.recent_videos.each do |vid|
        = link_to(image_tag(vid.small_cover_url), video_path(vid)) 

