!!! 5
%html(lang="en-US")
  %head
  %body
    %section
      %h3 #{@user.full_name} you have requested a password reset
      %p Please click on the link below to change your password.This link is valid for the next 2 hours.
      %p
        =link_to "Reset Password", @user.password_reset_link
    %footer
      &copy 2013 MyFLiX
